body { 
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.imagem-qrcode {
    max-width: 100%;
    display: flex;       
    border-radius: 20px;
    

}

.box { 
    background-color: hsl(0, 0%, 100%);    
    max-width: 350px;
    flex-direction: column;    
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    

}
.texto-grande {
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);   
    font-size: 25px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    
    
    
}

.texto-pequeno {
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    
   

}